<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Negocio</title>
</head>
<body>
    <th:block th:replace="frags/header.html"></th:block>


        <h1>Nombre del negocio: <span th:text="*{n.nombre}">X</span></h1>
        <h1>Propietario del negocio: <span th:text="*{n.propietario.nombre}">X</span></h1>
        <h2>Descripción: <span th:text="*{n.descripcion}">X</span></h2>
        <p>Ciudad: <span th:text="*{n.ciudad}">X</span></p>
        <p>Provincia: <span th:text="*{n.provincia}">X</span></p>
        <p>Dirección: <span th:text="*{n.direccion}">X</span></p>
        <p>Teléfono: <span th:text="*{n.telefono}">X</span></p>
        <p>Codigo Postal: <span th:text="*{n.codigoPostal}">X</span></p>
        <p>Plazas Disponibles: <span th:text="*{n.plazasDisponibles}">X</span></p>

        <img src="https://cdn.pixabay.com/photo/2019/07/19/09/54/map-4348394_1280.png" alt="mapa" width="200px" height="200px">
    </div>
        <p>-Indica los datos de tu reserva-</p>
        <form>
        <label>Hora: </label>
        <input type="text" name="Hora"></input>
        <label style="margin-left:20px">Número de personas: </label>
        <input type="text" name="personas"></input>
        <p><input type="button" name ="comprobar" value="Comprobar disponibilidad"></input></p>
        </form>
        <h2>Seleciona el día que quieres reservar</h2>
        
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Calendar_icon.svg/703px-Calendar_icon.svg.png" alt="Calendario de citas" width="400px" height="400px">
        <form>
        
        <input type="button" name ="Reservar" value="Reservar"></input>
        </form>


    <th:block th:replace="frags/footer.html"></th:block>
</body>
</html>
