<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Nav fragment - rest intentionally left empty</title>
</head>
<body>
	<nav th:fragment="nav">
		<!--<a class="logo" href="" th:href="@{/}"></a>-->
		<div class="title">
			<!--<a href="" th:href="@{/}"><img class="imgHeader" src="https://cdn.pixabay.com/photo/2018/12/24/16/53/shop-icon-3893222_1280.jpg" alt="Icono DateFirst"></a>-->
			<a href="" th:href="@{/}" class="sitename">Date First</a>
			<!--<img class="imgHeader" src="https://cdn.pixabay.com/photo/2018/12/24/16/53/shop-icon-3893222_1280.jpg" alt="Icono DateFirst" width="40px" height="40px">
			<span class="sitename">Date First</span>-->
		</div>

		<div class="logx" th:if="${session.u}">
			<a id="received" th:href="@{/message/}" th:text="${session.unread} ? '📬': '📪'">📫</a>			
			<a id="botonAdmin" th:if="${session.u.hasRole('ADMIN')}" th:href="@{/admin/}">Administrar</a>
			<form th:action="@{/logout}" method="post">
				<button id="botonLogout" type="submit">Logout</button>
			</form>
			<a id="fotoNombre" th:href="@{/user/{id}(id=${session.u.id})}">
				<img class="userthumb" th:src="@{/user/{id}/photo(id=${session.u.id})}">
				<span id="username" th:text="${session.u.username}">Pepe</span>
			</a>				
		</div>
		<div class="logx" th:unless="${session.u}">
			<!--<form method="post" th:action="@{/login}">
				<button th:text="Login" type="submit" href="/login">Login</button>
			</form>
			<form method="get" th:action="@{/user}">
				<button th:text="Register" type="submit" href="/user">Register</button>
			</form>-->
			<a id="botonLogin" th:href="@{/login}" href="/login">Login</a>
			<a id="botonRegistro" th:href="@{/user/}" href="/user/">Registro</a>

			<!--/*
				Esto es un comentario "thymeleaf" - no se verá en el HTML
				El bloque de "debug" sólo está activado si application.properties tiene debug a "true"
				(ver StartupConfig.java para ver cómo se lee el atributo y se pone en ${application.debug})
			*/-->
			<!-- <div class="debug" th:if="${application.debug}">
				<form th:action="@{/login}" method="post">
					<input type="hidden" name="username" value="a">
					<input type="hidden" name="password" value="aa">
					<button type="submit">a</button>
  				</form>				
				 th:action="@{/login}" method="post">
					<input type="hidden" name="username" value="b">
					<input type="hidden" name="password" value="aa">
					<button type="submit">b</button>
  				</form>
  			</div> -->
		</div>		
	</nav>
</body>
</html>
