.title {
    display: flex;
    justify-content: space-between;
	margin-left: 1%;
}

.sitename {
	display: flex;
	align-items: center;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 20px;
	font-size: 320%;
	font-weight: bold;
	font-family: 'Dancing Script', cursive;
	text-decoration: none;
	color: #000000;
}
.logo {
	/*background-image: url(../img/logo.png);*/
	background-image: url("https://cdn.pixabay.com/photo/2018/12/24/16/53/shop-icon-3893222_1280.jpg");
	width: 5%;
	height: 5%;
}

.imgHeader {
	width: 75px;
	height: 75px;
}

.logx {
	/*margin-left: auto;*/
	text-decoration: none;
    font-family: candara;
    color: white;
	margin-right: 3%;
}

.logx form {
	display: inline;
}

div#registroYlogin { /* Apartado donde se encuentran los botones de registrarse, accede, y cerrar sesión */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

div#registroYlogin a:hover {
	color: black;
	text-decoration: none;
}

#botonRegistro{
    text-decoration: none;
    padding: 8px;
	font-family: candara;
    font-size: 18px;
	color: #000000;
    background-color: #FFA62C;
    border-radius: 6px;
    border: 2px solid #E18100;
}

#botonRegistro:hover{
	background-color: #ff8819;
}

#botonLogin{
    text-decoration: none;
	text-align: center;
    padding: 8px;
	font-family: candara;
    font-size: 18px;
	color: #000000;
    background-color: #5d89e6;
    border-radius: 6px;
    border: 2px solid #0016b0;
}

#botonLogin:hover{
	background-color: #376ee6;
}

#botonLogout { /* Botón de cerrar sesión */
	text-decoration: none;
	text-align: center;
	padding: 8px;
	font-family: candara;
	font-size: 18px;
	background-color: rgb(255, 21, 21);
	color: #000000;
	border-radius: 6px;
	border: 2px solid black;
}

#botonLogout:hover{
	background-color: rgba(219, 0, 0, 0.925);
}

#botonAdmin { /* Botón de cerrar sesión */
	text-decoration: none;
	text-align: center;
	padding: 8px;
	font-family: candara;
	font-size: 18px;
	background-color: rgb(163, 163, 163);
	color: #000000;
	border-radius: 6px;
	border: 2px solid black;
}

#botonAdmin:hover{
	background-color: rgba(126, 126, 126, 0.925);
}

#fotoNombre {
	display: inline;
	margin-top: 5px;
}

.userthumb {
	width: 26px;
	height: 26px;
}

#usernameN {
	text-decoration: none;
	color: #000000;
	font-size: 120%;
}