/* 
 * simple css layout
 * - wrapping flexbox for nav
 * - flexbox trick from https://stackoverflow.com/a/20352949/15472 
 *   to keep footer in its place
 * - a grid for the content div and sidebar
*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
 
html, body{ 
	min-height:100%; 
	margin:0;
}
body {
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 202, 202);
}

.img_cuerpo{
	width: 650px;
	height: 340px;
	margin-left: 22%;
}

/* for debugging purposes - remove borders for a cleaner look */
nav, footer {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

/* setup nav & children */
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: rgb(106, 165, 255);
}
nav>*{
	margin: 5px;
}

/* setup main container */
.container {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 2%;

	background-color: rgb(255, 202, 202);
	font-family: calibri;
}
.main {
	flex: auto;
}
.sidebar {
	flex: none;
}

.titulo {
	font-size: 50px;
	font-family: 'Staatliches', cursive;
	margin-top: 0px;
	margin-bottom: 10px;
}

.titulo2 {
	font-size: 20px;
	font-family: 'Staatliches', cursive;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 6px;
}

.tituloPortada {
	font-family: 'Staatliches', cursive;
	font-size: 55px;
	margin-top: 25px;
	margin-bottom: 10px;
}

.tituloPortada2 {
	font-family: 'Staatliches', cursive;
	font-size: 40px;
	margin-top: 25px;
	margin-bottom: 15px;
}

.contNegocios {
	/*margin-left: 8%;*/
}

.divNegocios {
	float: left;
	width: 30%;
	height: 360px;
	border: 1px solid black;
	text-align: center;
	margin: 16px;
	/*padding: 6px;*/
	background-color: white;
}

.divNegocio1 {
	background-color: rgb(106, 165, 255);
	font-family: 'Staatliches', cursive;
	padding-top: 25px;
	padding-bottom: 25px;
}
.negocioImag{
	padding-left: 10px;
	padding-right: 10px;
	width: 100px;
	height: 60px;
}

.nombreNeg {
	text-decoration: none;
	font-size: 150%;
	color: black;
}

.divNegocio2 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.descripcionNeg {
	text-align: justify;
	padding-left: 15px;
    padding-right: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.divNegocio3 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.botonNeg {
	transition: 0.5s all;
	padding: 10px;
	background-color: rgb(255, 116, 116);
	text-decoration: none;
	color: black;
	border: 2px solid black;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
}

.botonNeg:hover {
	transition: 0.7s all;
	color: white;
	font-style: italic;
	background-color: black;
}

.botonesNegocio {
	display: flex;
	justify-content: flex-start;
}

.enlacesNegocio {

	float: left;
	margin-top: 24px;
	margin-left: 35px;
}

.enlacesNegocio > a {
	margin-right: 10px;
	text-decoration: none;
	color: black;
	padding: 4px;
	background-color: rgb(121, 255, 116);
	border: 1px solid black;
}

/* setup footer */
footer {
  margin-top:auto; 
}
footer img {
	vertical-align: middle;
	
}

/*
----------------------------
----------------------------
*/

/* for compact forms */
.smallform input {
	display: block;
}

div.datatable {
	margin: 0 2em 2em 2em;
}

/* to highlight debug elements */
.debug {
	padding: 5px;
	border: 1px dashed red;
}
nav div.debug {
	display: inline;
}

/* for error debugging */
.errKey {
	display: block;
	width: 10em;
}
.errTable {
	word-break: break-word;
	border-collapse: collapse;
}
.errTable td {
	border: 1px solid gray;
}
.errTable tr>td:first-child {
	background-color: #dddddd;
	min-width: 5em;
}
.errTable div {
	border: none;
	margin: 0;
	padding: 0;
}
