/* 
 * simple css layout
 * - wrapping flexbox for nav
 * - flexbox trick from https://stackoverflow.com/a/20352949/15472 
 *   to keep footer in its place
 * - a grid for the content div and sidebar
 */
 
html, body{ 
	min-height:100%; 
	margin:0; 
}
body {
	display: flex;
	flex-direction: column;
}

.img_cuerpo{
	width: 650px;
	height: 340px;
	vertical-align: middle;
	justify-content: center;
	align-content: center;
}

/* for debugging purposes - remove borders for a cleaner look */
nav, footer {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

/* setup nav & children */
nav {	
	height: 40%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
nav>*{
	margin: 5px;
}

/* setup main container */
div.container {
	margin-left: 5%;
	margin-right: 5%;

	margin-top: 2%;
	margin-bottom: 2%;
}
div.main {
	flex: auto;
}
div.sidebar {
	flex: none;
}

/* setup footer */
footer {
  margin-top:auto; 
}
footer img {
	vertical-align: middle;
	
}

/* for compact forms */
.smallform input {
	display: block;
}

div.datatable {
	margin: 0 2em 2em 2em;
}

/* to highlight debug elements */
.debug {
	padding: 5px;
	border: 1px dashed red;
}
nav div.debug {
	display: inline;
}

/* for error debugging */
.errKey {
	display: block;
	width: 10em;
}
.errTable {
	word-break: break-word;
	border-collapse: collapse;
}
.errTable td {
	border: 1px solid gray;
}
.errTable tr>td:first-child {
	background-color: #dddddd;
	min-width: 5em;
}
.errTable div {
	border: none;
	margin: 0;
	padding: 0;
}
