<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head><th:block th:replace="fragments/head :: header"/>
	<title>Perfil</title>
</head></head>
<body>
	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	
	<div class="container">
		<div class="main">
			<p class="titulo">Editar negocio <span th:text="${n.nombre}">Pepe</span></p>
			
			<div th:if="(${session.u.id} eq ${n.propietario.id})">
				<!-- puedes cambiar todo -->
				<form id="negociomod" class="formulario" th:action="@{/negocio/{id}(id=${n.id})}" method="POST">
					
					<label for="Nombre">Nombre:</label>
					<input type="text" name="Nombre" id="Nombre" required placeholder="Nombre" th:value="${n.nombre}"/>
					
					<label for="descripcion">Descripción:</label>
					<input type="text" name="descripcion" id="descripcion" required placeholder="Descripción" th:value="${n.descripcion}"/>	

					<label for="direccion">Dirección:</label>
					<input type="text" name="direccion" id="direccion" required placeholder="Dirección" th:value="${n.direccion}"/>

					<label for="ciudad">Ciudad:</label>
					<input type="text" name="ciudad" id="ciudad" required placeholder="Ciudad" th:value="${n.ciudad}"/>

					<label for="provincia">Provincia:</label>
					<input type="text" name="provincia" id="provincia" required placeholder="Provincia" th:value="${n.provincia}"/>

					<label for="latitud">Latitud:</label>
					<input type="text" name="latitud" id="latitud" required placeholder="Latitud" th:value="${n.latitud}"/>

					<label for="longitud">Longitud:</label>
					<input type="text" name="longitud" id="longitud" required placeholder="longitud" th:value="${n.longitud}"/>

					<label for="codigoPostal">Codigo Postal:</label>
					<input type="text" name="codigoPostal" id="codigoPostal" required placeholder="Código postal" th:value="${n.codigoPostal}"/>

					<label for="aforoMaximo">Aforo máximo:</label>
					<input type="text" name="aforoMaximo" id="aforoMaximo" required placeholder="Aforo" th:value="${n.aforoMaximo}"/>
					
					<label for="telefono">Teléfono:</label>
					<input type="text" name="telefono" id="telefono" required placeholder="Teléfono" th:value="${n.telefono}"/>
					
					<button type="submit" class="botonEnviar">Modificar</button>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="fragments/footer.html :: footer">
		Footer goes here
	</footer>
	
</body>
</html>