<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Reservas</title>
</head>

<body>
    <th:block th:replace="fragments/head.html"></th:block>
    <nav th:replace="fragments/nav.html :: nav">
        Nav goes here
    </nav>

    <div class="container">
        <p class="titulo">Introduce la franja horaria de las reservas que quieres eliminar</p>
        <form id="reservasdel" class="formulario" th:action="@{/negocio/{id}/eliminarReservas(id=${n.id})}" method="POST">

            <label for="Finicio" class="sr-only"> Fecha de inicio: </label>
            <input type="date" id="Finicio" name="Finicio" class="form-control" required="required"></input>

            <label for="inicio" class="sr-only"> Hora de inicio: </label>
            <input type="time" id="inicio" name="inicio" class="form-control" required="required"></input>

            <label for="Ffin" class="sr-only"> Fecha de fin: </label>
            <input type="date" id="Ffin" name="Ffin" class="form-control" required="required"></input>

            <label for="fin" class="sr-only">Hora de fin:</label>
            <input type="time" id="fin" name="fin" class="form-control" required="required"></input>

            <button id="eReserva" class="botonEnviar" type="submit">Eliminar</button>
        </form>
    </div>

    <script>
        function validateNotBefore(dateSelector, timeSelector, other) {
            const d = document.querySelector(dateSelector);
            const t = document.querySelector(timeSelector);
            const date = new Date(
                d.value + "T" +
                t.value);
            if (date < other) {
                d.setCustomValidity("No puede ser anterior a la fecha de hoy: " + other);
                t.setCustomValidity("No puede ser anterior a la fecha de hoy: " + other);
            } else {
                d.setCustomValidity("");
                t.setCustomValidity("");
            }

            return date;
        }

        function validateAfter(dateSelector, timeSelector, other) {
            const d = document.querySelector(dateSelector);
            const t = document.querySelector(timeSelector);
            const date = new Date(
                d.value + "T" +
                t.value);
            if (date <= other) {
                d.setCustomValidity("Debe ser posterior a la fecha de inicio: " + other);
                t.setCustomValidity("Debe ser posterior a la fecha de inicio: " + other);
            } else {
                d.setCustomValidity("");
                t.setCustomValidity("");
            }
        }

        document.addEventListener("DOMContentLoaded", () => {
            //selecciona los campos de la fecha y hora
            const dates = document.querySelectorAll('#reservasdel > input[type="date"]');
            const times = document.querySelectorAll('#reservasdel > input[type="time"]');

            // cada vez que cambie uno de ellos...
            dates[0].oninput = dates[0].onchange = dates[1].oninput = dates[1].onchange =
                times[0].oninput = times[0].onchange = times[1].oninput = times[1].onchange = () => {
                    let start = validateNotBefore("#Finicio", "#inicio", new Date()); // new Date() === ahora
                    validateAfter("#Ffin", "#fin", start);
                }
        });
    </script>

    <th:block th:replace="fragments/footer.html"></th:block>
</body>

</html>