<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar Reservas</title>
</head>
<body>
    <th:block th:replace="fragments/head.html"></th:block>
    <nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>

    <div class="container">
        <h1>Introduce los datos necesarios para generar las reservas</h1>
        <form id="reservasnew" class="formulario" th:action="@{/negocio/{id}/genera(id=${n.id})}" method="POST">
            
                <label for="Finicio">Fecha de inicio:</label>
                <input type="date" id="Finicio" name="Finicio" required="required"></input>

                <label for="inicio">Hora de inicio:</label>
                <input type="time" id="inicio" name="inicio" required="required"></input>

                <label for="Ffin">Fecha de fin:</label>
                <input type="date" id="Ffin" name="Ffin" required="required"></input>

                <label for="fin">Hora de fin:</label>
                <input type="time" id="fin" name="fin" required="required"></input>

                <label for="cuantas">Cuantas:</label>
                <input type="text" id="cuantas" name="cuantas" required="required" placeholder="Número de reservas para generar"></input>

                <label for="duracionEnMinutos">Duracion en minutos:</label>
                <input type="text" id="duracionEnMinutos" name="duracionEnMinutos" required="required" placeholder="Duración de cada reserva"></input>

                <label for="capacidadEnCadaUna">Capacidad en cada una:</label>
                <input type="text" id="capacidadEnCadaUna" name="capacidadEnCadaUna" required="required" placeholder="Capacidad"></input>

            <button id="btnGenerarReservas" type="submit" class="botonEnviar">Generar</button>
        </form>
    </div>

    <script>
		document.addEventListener("DOMContentLoaded", () => {
            //selecciona los campos de la fecha y hora
			let date = document.querySelectorAll('#reservasnew > input[type="date"]')
            let time = document.querySelectorAll('#reservasnew > input[type="time"]');
            var f = new Date();
            var hoy = f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear();
			// cada vez que cambie uno de ellos...
			date[0].oninput = date[0].onchange = date[1].oninput = date[1].onchange = () => {
				date[1].setCustomValidity((date[0].value <= date[1].value) && (date[0] >= hoy)? 
						"" : "La fecha de fin debe ser después de la de inicio");
			}
            time[0].oninput = time[0].onchange = time[1].oninput = time[1].onchange = () => {
				time[1].setCustomValidity(time[0].value <= time[1].value ? 
						"" : "La hora de fin debe ser después de la de inicio");
			}
		});	
	</script>

    <th:block th:replace="fragments/footer.html"></th:block>
</body>
</html>
