<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista reservas</title>
</head>

<body>

    <div th:if="${session.u}">
        <div class="botonesReserva">
            <h3>Reservas Disponibles</h3>
        </div>
        <div class="contReservas">
            <div th:if="${listaReservas.isEmpty()}">
                <h3>No hay ninguna reserva</h3>
            </div>
            <div th:unless="${listaReservas.isEmpty()}">

                <div th:each="r: ${listaReservas}">
                    <div class="divReservas">
                        <div class="divReserva1">
                            <p class="nombreRes" th:id="'reserva_' + ${r.id}">Reserva numero <span
                                    th:text="${r.id}">x</span> del negocio <span th:text="${r.negocio.nombre}">x</span>
                            </p>

                        </div>
                        <div class="divReserva2">
                            <span th:if="${r.estado.name() != 'LIBRE'}">
                                Usuario de reserva: <span class="infoReserva"
                                    th:text="${r.usuario.username}">x</span></span>
                            <span>Inicio reserva: <span class="infoReserva" th:text="${r.inicio}">x</span></span>
                            <span>Fin reserva: <span class="infoReserva" th:text="${r.fin}">x</span></span>
                            <span>Numero de personas: <span class="infoReserva"
                                    th:text="${r.numPersonas}">x</span></span>
                            <span>Estado de reserva: <span class="infoReserva"
                                    th:text="${r.estado.name()}">x</span></span>
                            <div class="divReserva3">
                                <div th:if="${r.estado.name() == 'CANCELADA'}">
                                    <form method="post" th:action="@{/reserva/{id}/habilitar(id=${r.id})}">
                                        <button class="botonRes" th:text="Habilitar" type="submit">Habilitar</button>
                                    </form>
                                </div>
                                <div th:if="${r.estado.name() == 'SOLICITADA'}">
                                    <form method="post" th:action="@{/reserva/{id}/confirmar(id=${r.id})}">
                                        <button class="botonRes" th:text="Confirmar" type="submit">Confirmar</button>
                                    </form>
                                    <form method="post" th:action="@{/reserva/{id}/eliminar(id=${r.id})}">
                                        <button class="botonRes" th:text="Cancelar" type="submit">Cancelar</button>
                                    </form>
                                </div>
                                <div th:if="${r.estado.name() == 'CONFIRMADA'}">
                                    <form method="post" th:action="@{/reserva/{id}/eliminar(id=${r.id})}">
                                        <button class="botonRes" th:text="Cancelar" type="submit">Cancelar</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
    <div th:unless="${session.u}"></div>
</body>

</html>