<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  </meta>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </meta>
  <link rel="stylesheet" th:href="@{/css/main.css}" href="css/main.css" type="text/css"/>
  <link rel="stylesheet" th:href="@{/css/forms.css}" href="css/forms.css" type="text/css" />
  <title>Login</title>
</head>

<body>
  <th:block th:replace="fragments/head.html" />
    <nav th:replace="fragments/nav.html :: nav">
        Nav goes here
    </nav>

  <div class="container">
    <form class="login" method="post" th:action="@{/login}">
      <!--<h2 class="form-signin-heading">Please log in</h2>-->
      <p>
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" name="username"
          required="required"></input>
      </p>
      <p>
        <label for="password" id="labelLogin">Contraseña:</label>
        <input type="password" id="password" name="password"
          required="required"></input>
      </p>
      <button class="botonLogin" type="submit">Entrar</button>
    </form>
  </div>
</body>

</html>