<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Negocio</title>
</head>

<body>
    <th:block th:replace="fragments/head.html" />
    <nav th:replace="fragments/nav.html :: nav">
        Nav goes here
    </nav>

    <div class="container">

        <p class="titulo" th:text="${n.nombre}">X</p>

        <!--<p><span class="titulo2">Nombre del negocio:  </span><span th:text="${n.nombre}">x</span></p>-->
        <p><span class="titulo2">Descripción:</span><span th:text="${n.descripcion}">x</span></p>
        <p><span class="titulo2">Dirección:</span><span id="txtDireccion" th:text="${n.direccion}">x</span></p>
        <p><span class="titulo2">Ciudad:</span><span id="txtCiudad" th:text="${n.ciudad}">x</span></p>
        <p><span class="titulo2">Provincia:</span><span th:text="${n.provincia}">x</span></p>
        <p><span class="titulo2">Código Postal:</span><span th:text="${n.codigoPostal}">x</span></p>
        <p><span class="titulo2">Aforo máximo:</span><span th:text="${n.aforoMaximo}">x</span></p>
        <p><span class="titulo2">Teléfono:</span><span th:text="${n.telefono}">x</span></p>


        <div th:if="${session.u}">
            <div th:if="(${session.u.id} eq ${n.propietario.id})">
                <a th:href="@{/negocio/{id}/editar(id=${n.id})}">Editar negocio</a>
                <a th:href="@{/negocio/{id}/genera(id=${n.id})}">Generar reservas</a>
                
                <div th:if="${reservas.isEmpty()}">
                    <h3>No hay reservas</h3>
                </div>
                <div th:unless="${reservas.isEmpty()}">
                    <a th:href="@{/negocio/{id}/eliminarReservas(id=${n.id})}">Eliminar reservas</a>

                    <h3>Reservas actuales</h3>
                    <ul>
                        <li th:each="r: ${reservas}">
                            <span th:text="${r.id}">123</span>
                            <span th:text="${r}">texto de la reserva</span>
                            <div th:if="${r.estado.name() == 'CANCELADA'}">
                                <form method="post" th:action="@{/reserva/{id}/habilitar(id=${r.id})}">
                                    <button th:text="Habilitar" type="submit">🗑</button>
                                </form>
                            </div>

                        </li>
                    </ul>
                </div>

            </div>
            <div th:if="(${session.u.id} neq ${n.propietario.id})">
                <h3>Reservas disponibles</h3>
                <div th:each="r: ${reservas}">
                    <div th:if="${r.estado.name() == 'LIBRE'}">
                        <p><a th:href="@{/reserva/{id}(id=${r.id})}" th:text="${r.id}">123</a></p>
                        <h5 th:text="${r}">Texto de la reserva</h5>
                        <p><a th:href="@{/reserva/{id}(id=${r.id})}">Solicitar</a></p>
                    </div>

                </div>

            </div>

        </div>
        <div th:unless="${session.u}">

            <h3>Reservas disponibles</h3>
            <div th:each="r: ${reservas}">
                <div th:if="${r.estado.name() == 'LIBRE'}">
                    <p><a th:href="@{/reserva/{id}(id=${r.id})}" th:text="${r.id}">123</a></p>
                    <h5 th:text="${r}">Texto de la reserva</h5>>
                    <p><a th:href="@{/reserva/{id}(id=${r.id})}">Solicitar</a></p>
                </div>
            </div>
        </div>

        <div id="map" style="height: 400px; width: 400px;"> </div>

        <!-- <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAbP1WaZFO_pba4drPCI1v9pbfotSvKgs&callback=initMap&libraries=places&v=weekly">

        </script> -->

        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIwzALxUPNbatRBj3Xi1Uhp0fFzwWNBkE&callback=initMap&libraries=places&v=weekly"
            async></script>

        <script>
            let map;
            function initMap() {
                var latitud = "[[${n.latitud}]]";
                var longitud = "[[${n.longitud}]]";
                var nombre = "[[${n.nombre}]]";
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {
                        lat: parseFloat(latitud),
                        lng: parseFloat(longitud)
                    },
                    zoom: 16,
                });             
                /*map.center.lat =  40.35804197541284;*/

                var marker = new google.maps.Marker({
                    position: { 
                        lat: parseFloat(latitud),
                        lng: parseFloat(longitud)
                    },
                    map: map,
                    title: nombre
                });

                //var geocoder = new google.maps.Geocoder();
                //geocodeAddress(geocoder, map);
            }

            // function geocodeAddress(geocoder, resultsMap) {
            //     var address = "Avenida Orovilla 58";
            //     alert(address);
            //     geocoder.geocode({ 'address': address }, function (results, status) {
            //         if (status === google.maps.GeocoderStatus.OK) {
            //             resultsMap.setCenter(results[0].geometry.location);
            //             var marker = new google.maps.Marker({
            //                 map: resultsMap,
            //                 position: results[0].geometry.location
            //             });

            //         } else {
            //             alert('La localización no fue satisfactoria por la siguiente razón: ' + status);
            //         }
            //     });
            // }
        </script>


    </div>


    <th:block th:replace="fragments/footer.html" />
</body>

</html>