<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Perfil</title>
</head>
<body>
	<th:block th:replace="fragments/head :: header"/>
	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	
	<div class="container">
		<div class="main">
			<h1 th:text="#{index.welcome}">Bienvenido a Date First</h1>
	
			<h4>Crear nuevo usuario</h4>
		
			<!-- puedes cambiar todo -->
			<form id="usermod" class="formulario" th:action="@{/user/}" method="POST">
				
				<label for="firstname">Nombre</label>
				<input type="text" name="firstName" id="firstName" required placeholder="Nombre" />
				
				<label for="lastname1">Apellidos1</label>
				<input type="text" name="lastName1" id="lastName1" required placeholder="Apellidos1" />	

				<label for="lastname2">Apellidos2</label>
				<input type="text" name="lastName2" id="lastName2" required placeholder="Apellidos2" />

				<label for="age">Edad</label>
				<input type="text" name="age" id="age" required placeholder="Edad"/>

				<label for="tlf">Telefono</label>
				<input type="text" name="tlf" id="tlf" required placeholder="Telefono" />
				
				<label for="address">Direccion</label>
				<input type="text" name="address" id="address" required placeholder="Direccion"/>

				<label for="city">Ciudad</label>
				<input type="text" name="city" id="city" required placeholder="Ciudad" />

				<label for="province">Provincia</label>
				<input type="text" name="province" id="province" required placeholder="Provincia" />

				<label for="postalCode">Postal</label>
				<input  type="text" name="postalCode" id="postalCode" required placeholder="Codigo postal" />
				
				<label for="username">Usuario</label>
				<input type="text" name="username" id="username" required placeholder="Nombre de usuario" />
				
				<label for="password">Contraseña</label>
				<input type="password" id="password" required name="password" placeholder="Contraseña"/>
				<label for="pass2">(repetida)</label>
				<input type="password" id="pass2" required name="pass2" placeholder="Confirmación"/>
				
				<input type="hidden" name="roles" value="USER"/>

				<button type="submit" class="botonEnviar">Crear</button>
			</form>
		</div>
	</div>

	<script>
		// esto es algo feo, y se podría sacar a un JS externo
		document.addEventListener("DOMContentLoaded", () => {
			// selecciona los campos de contraseña
			let ps = document.querySelectorAll('#usermod > input[type="password"]')
			// cada vez que cambie uno de ellos...
			ps[0].oninput = ps[0].onchange = ps[1].oninput = ps[1].onchange = () => {
				// dice que si no son iguales, el segundo no es válido
				ps[1].setCustomValidity(ps[0].value === ps[1].value ? 
						"" : "Ambas contraseñas tienen que coincidir");
			}
		});	
	</script>	

	<footer th:replace="fragments/footer.html :: footer">
		Footer goes here
	</footer>

</body>
</html>
