<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/forms.css}" href="css/forms.css" type="text/css" />
  <title>Crear negocio</title>
</head>

<body>
  <th:block th:replace="fragments/head.html"></th:block>
  <nav th:replace="fragments/nav.html :: nav">
    Nav goes here
  </nav>

  <div class="container">

    <h1>¡Crea tu nuevo negocio!</h1>
    <form id="negocionew" class="formulario" th:action="@{/negocio/}" method="POST">

      <label for="nombre">Nombre del negocio:</label>
      <input type="text" id="nombre" name="nombre" required="required" placeholder="Nombre"></input>

      <label for="descripcion">Descripción:</label>
      <input type="text" id="descripcion" name="descripcion" required="required" placeholder="Descripción"></input>

      <label for="direccion">Dirección:</label>
      <input type="text" id="direccion" name="direccion" required="required" placeholder="Dirección"></input>

      <label for="ciudad">Ciudad:</label>
      <input type="text" id="ciudad" name="ciudad" required="required" placeholder="Ciudad"></input>

      <label for="provincia">Provincia:</label>
      <input type="text" id="provincia" name="provincia" required="required" placeholder="Provincia"></input>

      <label for="telefono">Teléfono:</label>
      <input type="text" id="telefono" name="telefono" required="required" placeholder="Teléfono"></input>

      <label for="codigoPostal">Código postal:</label>
      <input type="text" id="codigoPostal" name="codigoPostal" required="required" placeholder="Código postal"></input>

      <label for="lat">Latitud:</label>
      <input type="text" id="lat" name="latitud" required="required" placeholder="Latitud"></input>

      <label for="lon">Longitud:</label>
      <input type="text" id="lon" name="longitud" required="required" placeholder="Longitud"></input>

      <label for="aforoMaximo">Aforo máximo:</label>
      <input type="text" id="aforoMaximo" name="aforoMaximo" required="required" placeholder="Aforo"></input>

      <button id="btnCrearNegocio" class="botonEnviar" type="submit">Crear</button>
    </form>

  </div>
  <th:block th:replace="fragments/footer.html"></th:block>
</body>

</html>