<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Perfil</title>
	<link rel="stylesheet" th:href="@{/css/perfilUsuario.css}" href="css/perfilUsuario.css" type="text/css" />
</head>

<body>
	<th:block th:replace="fragments/head :: header" />
	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>

	<div class="container">
		<div class="main">

			<p class="titulo">Información del usuario <span th:text="${user.username}">Pepe</span></p>

			<div th:if="(${session.u.id} eq ${user.id}) or ${session.u.hasRole('ADMIN')}">
				<img th:src="@{/user/{id}/photo(id=${user.id})}" width="60px" height="60px">
				<p><span class="titulo2">Nombre de usuario:</span><span th:text="${user.firstName}">x</span></p>
				<p><span class="titulo2">Primer apellido:</span><span th:text="${user.lastName1}">x</span></p>
				<p><span class="titulo2">Segundo apellido:</span><span th:text="${user.lastName2}">x</span></p>
				<p><span class="titulo2">Edad:</span><span th:text="${user.age}">x</span></p>
				<p><span class="titulo2">Teléfono:</span><span th:text="${user.tlf}">x</span></p>
				<p><span class="titulo2">Dirección:</span><span th:text="${user.address}">x</span></p>
				<p><span class="titulo2">Ciudad:</span><span th:text="${user.city}">x</span></p>
				<p><span class="titulo2">Provincia:</span><span th:text="${user.province}">x</span></p>
				<p><span class="titulo2">Código Postal:</span><span th:text="${user.postalCode}">x</span></p>

				<a th:href="@{/user/{id}/editar(id=${session.u.id})}">Editar Perfil</a>
				<a th:href="@{/user/{id}/eliminar(id=${session.u.id})}">Eliminar cuenta</a>

				<h2>Negocios</h2>
				<div th:each="n: ${negocios}">
					<p>						
						<a th:href="@{/negocio/{id}(id=${n.id})}" th:text="${n.id}">123</a>
						<span th:text="${n}">texto del negocio</span>
						<form method="post" th:action="@{/negocio/{id}/eliminar(id=${n.id})}">
							<button th:id="'negocio_' + ${n.id}" th:text="Eliminar" type="submit">🗑</button>
						</form>
					</p>
				</div>

				<h2>Reservas</h2>
				<div th:each="r: ${reservas}">
					<p th:if="${r.estado.name() == 'SOLICITADA'}">
						<span th:text="${r.id}">123</span>
						<span th:text="${r}">Texto de la reserva</span>
						<div th:if="${r.estado.name() == 'SOLICITADA'}">
							<form method="post" th:action="@{/reserva/{id}/cancelar(id=${r.id})}">
								<button th:text="Cancelar" type="submit">🗑</button>
							</form>
							 
						</div>
					</p>
				</div>

				<a id="newNegocio" th:href="@{/negocio/}">Crea tu negocio</a>

				<!--<h1>Negocios ajax</h1>
			
				<table class="datatable" id="datatable"></table>
				<form th:action="@{/negocio/idOfTarget/eliminar}" method="POST">
					<select id="idOfTarget">
						<option th:each="n: ${negocios}" th:value="${n.id}" th:text="${n.nombre}">x</option>
					</select>
					<button id="eliminarNegocio" type="submit">Enviar</button>
				</form>-->

			</div>
		</div>
	</div>

	<script>

		// mostrando una tabla dinámica con datos cargados del servidor vía AJAX
		let dt = new simpleDatatables.DataTable(
			'#datatable', { 
				ajax: {
					url: config.rootUrl + "/negocio/list", // empieza siempre por config.rootUrl
					load: function(xhr) {
						let data = JSON.parse(xhr.responseText);
						console.log(data); // Prueba
						for (let i=0; i<data.length; i++) {
							let row = data[i];
							/*row.sent = formatDate(row.sent);
							if (row.received) {
								row.received = formatDate(row.received);
							}*/
						}
						
						return JSON.stringify(data);
					}
				}
			}
		);

		// envío de mensajes vía AJAX, sin recargar la página
		document.addEventListener("DOMContentLoaded", () => {
			let b = document.getElementById("eliminarNegocio");
			b.onclick = (e) => {
				//let idOfTarget = document.getElementById("idOfTarge").value;
				//idOfTarget = parseLong(idOfTarget);
				let url = b.parentNode.action.replace("idOfTarget", 1);
				window.alert(url);

				e.preventDefault();
				console.log(b, b.parentNode)
				go(url, 'POST',{negocios: 
					document.getElementById("idOfTarget").value})
					.then(d => console.log("happy", d))
					.catch(e => console.log("sad", e))
			}
		});
	

	</script>
	<th:block th:replace="fragments/footer.html" />
</body>

</html>