<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Negocio</title>
</head>
<body>
    <th:block th:replace="fragments/head.html"></th:block>
    <nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
    <h1>Modifica los datos que necesites de tu negocio</h1>
    <form id="negociomod" class="smallform" th:action="@{/negocio/{id}(id=${n.id})}" method="POST">
        <p>
            <label for="nombre" class="sr-only"> Nombre del negocio: </label>
            <input type="text" id="nombre" name="nombre" 
            class="form-control" th:value="${n.nombre}" ></input>
        </p>

        <p>
            <label class="sr-only">Propietario del negocio: <span th:text="${n.propietario.firstName}"></span></label>
        </p>

        <p>
            <label for="descripcion" class="sr-only">Descripcion:</label>
            <input type="text" id="descripcion" name="descripcion" 
              class="form-control" th:value="${n.descripcion}" required="required"></input>
        </p>

        <p>
            <label for="direccion" class="sr-only"> Direccion: </label>
            <input type="text" id="direccion" name="direccion" 
              class="form-control" th:value="${n.direccion}" required="required"></input>
        </p>

        <p>
            <label for="ciudad" class="sr-only"> Ciudad: </label>
            <input type="text" id="ciudad" name="ciudad" 
              class="form-control" th:value="${n.ciudad}" required="required"></input>
        </p>

        <p>
            <label for="provincia" class="sr-only">Provincia:</label>
            <input type="text" id="provincia" name="provincia" 
              class="form-control" th:value="${n.provincia}" required="required"></input>
        </p>

        <p>
            <label for="telefono" class="sr-only">Telefono:</label>
            <input type="text" id="telefono" name="telefono" 
              class="form-control" th:value="${n.telefono}" required="required"></input>
        </p>

        <p>
            <label for="codigoPostal" class="sr-only">Codigo postal:</label>
            <input type="text" id="codigoPostal" name="codigoPostal" 
              class="form-control" th:value="${n.codigoPostal}" required="required"></input>
        </p>

        <p>
            <label for="aforoMaximo" class="sr-only">Aforo máximo:</label>
            <input type="text" id="aforoMaximo" name="aforoMaximo" 
              class="form-control" th:value="${n.aforoMaximo}" required="required"></input>
        </p>
        <p>
            <label for="plazasDisponibles" class="sr-only">Plazas disponibles:</label>
            <input type="text" id="plazasDisponibles" name="plazasDisponibles" 
              class="form-control" th:value="${n.plazasDisponibles}" required="required"></input>
        </p>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Modificar</button>
    </form>

        <img src="https://cdn.pixabay.com/photo/2019/07/19/09/54/map-4348394_1280.png" alt="mapa" width="200px" height="200px">
    </div>
        <p>-Indica los datos de tu reserva-</p>
        <form>
        <label>Hora: </label>
        <input type="text" name="Hora"></input>
        <label style="margin-left:20px">Número de personas: </label>
        <input type="text" name="personas"></input>
        <p><input type="button" name ="comprobar" value="Comprobar disponibilidad"></input></p>
        </form>
        <h2>Seleciona el día que quieres reservar</h2>
        
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Calendar_icon.svg/703px-Calendar_icon.svg.png" alt="Calendario de citas" width="400px" height="400px">
        <form>
        
        <input type="button" name ="Reservar" value="Reservar"></input>
        </form>


    <th:block th:replace="fragments/footer.html"></th:block>
</body>
</html>
